*~
*.txt
*.bin
*.o
*.ppm
*.csv
*.bak
*.traindata
*.swp
*.out
*.json
*.log
*.yaml
dpct_output
*/main
/build/
*/*/main
*.ncu-rep
*.nsys-rep
*.sqlite
*.nrrd
*.fasta
*.mtx
*.hdr
*.bmp
*.fna
**/src/**
*.tar.bz2
internet.egr
*.tgz
*.bz2
/downloads/
lena_std.dds
src/dxtc2-sycl/data/lena_std.dds
src/geodesic-cuda/locations.txt
deleteme**
.*-api-key
*.jsonl
**/__pycache__
few-shot-examples/*
analysis/offload
*.zip
.DS_Store
*.sqlite*
*.pckl*
*.*api-key
*/.DS_Store
*/__pycache__
*/.langgraph_api
*.env
qdecomp-langgraph-studio/real_codes/*